// sampleを残すことで、env.jsが必要であることを明示的にする。
/* eslint-disable-next-line */
export const firebaseConfig = {
    apiKey: '',
    authDomain: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',
    appId: '',
};
